.pagination {
  display: flex;
  width: 100%;
  justify-content: space-around;
  @media (max-width: 520px) {
    justify-content: center;
    flex-direction: column;
    .pagination__pages {
      margin: 0 auto;
      justify-content: center;
      width: 90%;
      order: 1;
      overflow-x: auto;
    }
    .pagination__button {
      display: none;
    }
  }
  button {
    cursor: pointer;
    display: block;
    background: none;
    border: none;
  }
  &__button {
    color: $main-color;
    font-size: 24px;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: lighten($main-color, 10%);
    }
    &:active {
      color: darken($main-color, 10%);
    }
  }
  &__pages {
    display: flex;
    gap: 12px;
    &-item {
      cursor: pointer;
      font-size: 18px;
      font-style: italic;
      font-weight: 700;
      transition: color 0.2s ease-in-out;
      &._active {
        color: #7ebc3c;
      }
    }
  }
}
